{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}
{# {% if q is not empty %} #}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{# {{ q }}
{% endif %}
{{ form }} #}
 {# {{ dd(form) }} #}

 <div class="row">
  <div class="form-group col-12 col-md-2 col-lg-3">
    {{ form.field_recipe_category }}
  </div>
  <div class="form-group col-12 col-md-2 col-lg-3">
    {{ form.field_ingredients }}
  </div>
  <div class="form-group col-12 col-md-2 col-lg-3">
    {{ form.field_tags }}
  </div>
</div>
